html, body {
  height: 100%;
}

.container-fluid {
  height: 85%;
}

.full-height {
  height: 100%;
}

.height-90 {
  height: 90%;
  margin-bottom: 20px;
}

#map {
  
}

.query-ui {
  
}

.radio+.radio.query-ui, .checkbox+.checkbox.query-ui {
  margin-top: 10px;
  margin-bottom: 10px;
}

.info-window-hr {
  color: gray;
}

p.info-window-custom-paragraph {
  text-align: center;
}

.data-label {
  margin-left: 20px;
}

.data-field {
  margin-left: 45px;
}

.query-ui > input.form-control.operand-ui.inline-input {
  display: inline-block;
}