appdirs
beautifulsoup4==4.4.1
bleach==1.4.3
chardet==2.3.0
dj-database-url==0.4.1
dj-static==0.0.6
Django==1.9.7
django-blog-zinnia==0.17
django-contrib-comments==1.7.3
django-mptt==0.8.7
django-tagging==0.4.5
django-xmlrpc==0.1.7
dropbox==7.1.1
html5lib==0.9999999
mots-vides==2015.5.11
olefile==0.44
packaging==16.8
Pillow==4.0.0
psycopg2==2.6.2
pyparsing==2.1.10
pytz==2016.10
regex==2017.1.17
reportlab==3.4.0
requests==2.13.0
setuptools>=2.2
simplejson==3.10.0
six==1.10.0
static3==0.7.0
typing==3.5.3.0
urllib3==1.20
pylint==1.8.4
pylint-django==0.11
