beautifulsoup4==4.4.1
bleach==1.4.3
chardet==2.3.0
dj-database-url==0.4.1
dj-static==0.0.6
Django==1.9.7
django-blog-zinnia==0.17
django-contrib-comments==1.7.1
django-mptt==0.8.4
django-tagging==0.4.3
django-toolbelt==0.0.1
django-xmlrpc==0.1.5
filebrowser-safe==0.4.3
future==0.15.2
grappelli-safe==0.4.2
gunicorn==19.6.0
html5lib==0.9999999
Mezzanine==4.1.0
mots-vides==2015.5.11
oauthlib==1.1.2
Pillow==3.2.0
psycopg2==2.6.1
pyparsing==2.1.5
pytz==2016.4
regex==2016.6.24
requests==2.10.0
requests-oauthlib==0.6.1
simplejson==3.8.2
six==1.10.0
static3==0.7.0
textile==2.3.2
tzlocal==1.2.2
dropbox==6.5.0