boto==2.38.0
diff-match-patch==20121119
dj-database-url==0.3.0
dj-static==0.0.6
Django==1.8.2
django-herokuapp==0.9.20
django-import-export==0.2.7
django-postgrespool==0.3.0
django-require==1.0.8
django-require-s3==1.0.0
django-storages==1.1.8
djangoajax==2.2.15
gunicorn==19.3.0
psycopg2==2.6.1
pytz==2015.4
sh==1.11
simplejson==3.7.3
SQLAlchemy==1.0.6
static3==0.6.1
tablib==0.10.0
virtualenv==13.0.3
waitress==0.8.9
whitenoise==2.0.2
