{% load staticfiles %}

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <meta name='description' content='' />
    <meta name='author' content='Seongtaek Lim' />
    <!-- <link rel='shortcut icon' href='assets/ico/favicon.ico'> -->

    <title>Farmview</title>

    <!-- Bootstrap core CSS -->
    <link rel='stylesheet' href='{% static "mapper/css/bootstrap/bootstrap.css" %}' />

    <!-- Third-party CSS -->
    <link rel='stylesheet' href='{% static "mapper/css/blacktie/studio.css" %}' />
    <link rel='stylesheet' href='{% static "mapper/css/font-awesome/font-awesome.min.css" %}' />
    <link rel='stylesheet' href='{% static "mapper/css/fancybox/jquery.fancybox.css" %}' />
    <link rel='stylesheet' href='//libs.cartocdn.com/cartodb.js/v3/3.15/themes/css/cartodb.css' />

    <!-- Custom styles for this template -->
    <link rel='stylesheet' href='{% static "mapper/css/style.css" %}' />
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'></script>
      <script src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js'></script>
    <![endif]-->
    <script src='{% static "mapper/js/jquery/jquery-1.11.3.min.js" %}'></script>
    <script src='{% static "mapper/js/bootstrap/bootstrap.min.js" %}'></script>
    <script src='{% static "mapper/js/smoothscroll/smoothscroll.js" %}'></script>
    <script src='{% static "mapper/js/fancybox/jquery.fancybox.js" %}'></script>
    <script src='//libs.cartocdn.com/cartodb.js/v3/3.15/cartodb.js'></script>
  </head>

  <body data-spy='scroll' data-offset='0' data-target='#theMenu'>

  	<!-- Menu -->
  	<nav class='menu' id='theMenu'>
  		<div class='menu-wrap'>
  			<h1 class='logo'><a href='index.html#home-section'>Farmview</a></h1>
  			<i class='fa fa-times menu-close'></i>
  			<a href='#home-section' class='smoothScroll'>Home</a>
  			<a href='#map-section' class='smoothScroll'>Map</a>
        <a href='/admin' target='_blank'>Admin</a>
        <a href='#' class='smoothScroll'>More to Come!</a>
  			<!-- <a href='#'><i class='fa fa-envelope'></i></a> -->
  		</div>
  		<!-- Menu button -->
  		<div id='menuToggle'><i class='fa fa-bars'></i></div>
  	</nav>

    {% block index %}{% endblock %}
    
  </body>
</html>
