{% extends "mapper/index.html" %}

{% block map_section %}
<section id='map-section' name='map-section'></section>
<div id='map-wrap'>
  <div class='container-fluid'>
    <div class='row'>
      <div id='map' class='col-md-10'></div>
      <!-- query boxes go here -->
      <div id='query-sidebar' class='col-md-2'>
        <!-- <div class='checkbox'>
          <label>
            <input id='zoning_query_chk' type='checkbox' />
            Zoning Category
          </label>
          <select id='zoning_query_slct' class='form-control' disabled>
            <option>-- Select --</option>
            <option>CA</option>
            <option>A</option>
            <option>AP</option>
            <option>RA</option>
            <option>RR</option>
            <option>R-1</option>
            <option>RB</option>
            <option>RM</option>
            <option>PA</option>
            <option>VA</option>
            <option>CT</option>
            <option>C-1</option>
            <option>C-2</option>
            <option>C-4</option>
            <option>M-1</option>
            <option>M-2</option>
            <option>M-3</option>
            <option>PR</option>
            <option>PF</option>
            <option>TP</option>
            <option>SU</option>
          </select>
        </div>
        <div class='checkbox'>
          <label>
            <input id='soil_query_chk' type='checkbox' />
            Soil Type
          </label>
          <select id='soil_query_slct' class='form-control' disabled>
            <option>-- Select --</option>
            <option>P</option>
            <option>S</option>
            <option>U</option>
            <option>L</option>
            <option>G</option>
            <option>D</option>
            <option>X</option>
            <option>W</option>
          </select>
        </div> -->
        <br />
        <button type='button' class='btn btn-primary btn-lg btn-block'>Submit</button>
      </div><!--/ query-sidebar -->
    </div><!--/row -->
  </div><!--/container -->
</div><!--/map-wrap -->
{% endblock %}
