{% extends "pages/base.html" %}
{% load i18n %}
{% block blog-current-page %} class = 'current_page_item'{% endblock %}
<title>
  {% block title %}{% endblock title %}{% block title-page %}{% endblock title-page %} - Zinnia Weblog
</title>

{% block meta %}
  {{ block.super }}
  <meta name="robots" content="follow, all" />
  <meta name="description" content="{% block meta-description %}{% trans "Just another Zinnia weblog." %}{% endblock meta-description %}{% block meta-description-page %}{% endblock meta-description-page %}" />
  <meta name="keywords" content="{% block meta-keywords %}django, blog, weblog, zinnia{% endblock meta-keywords %}" />
  <meta name="author" content="Fantomas42, Seongtaek Lim, Brian Pugh" />
{% endblock meta %}

{% block style %}
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link href="http://fonts.googleapis.com/css?family=Varela" rel="stylesheet" />
  <link rel="pingback" href="/xmlrpc/" />
  <link rel="shortcut icon" href="/static/zinnia/theme/img/favicon.ico" />
  <link rel="home" href="{% url 'zinnia:entry_archive_index' %}" />
  
  <link rel='stylesheet' href='/static/css/bootstrap/bootstrap.min.css' />
  <link rel="stylesheet" type="text/css" media="screen, projection" href="/static/css/zinnia/screen.css" />
  <link rel="stylesheet" type="text/css" media="print" href="/static/css/screen.css" />
  <link rel='stylesheet' href="/static/css/style.css" />
{% endblock style %}

{% block base-content %}
<div class="zinnia {% block sidebar-class %}right-sidebar{% endblock sidebar-class %}">
    {% block slider %}{% endblock slider %}
    <div id="blogwrapper">
      <div id="content" class="hfeed" role="main">
        {% block content %}
        <hr />
        <div class="links">
          <h2>{% trans "Useful links" %}</h2>
          <ul>
            <li>
              <a href="{% url 'zinnia:entry_archive_index' %}" title="{% trans "Weblog index" %}">
                {% trans "Weblog index" %}
              </a>
            </li>
            <li>
              <a href="{% url 'zinnia:sitemap' %}" title="{% trans "Sitemap" %}">
                {% trans "Sitemap" %}
              </a>
            </li>
          </ul>
        </div>
        <div class="search">
          <h2>{% trans "Search" %}</h2>
          {% include "zinnia/tags/search_form.html" %}
        </div>
        {% endblock content %}
      </div>
      <div id="sidebar" role="complementary">
        {% block sidebar %}
        {% endblock sidebar %}
      </div>
      <footer id="footer" role="contentinfo">
      </footer>
    </div>
  </div>
  <script id="dsq-count-scr" src="//farmview-1.disqus.com/count.js" async></script>
{% endblock base-content %}
