{% extends "pages/base.html" %}
{% load i18n %}


{% get_current_language as LANGUAGE_CODE %}


{% block content %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License
Name       : PlainDisplay
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20140309
-->

<link href="http://fonts.googleapis.com/css?family=Varela" rel="stylesheet" />

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
<div id="wrapper">
    <div id="header-wrapper">
    <div id="header" class="container">
        <div id="logo">
            <h1><a href="#">{% trans "Farmview" %}</a></h1>
        </div>
        <div id="menu">
            <ul>
                <li><a href="/" accesskey="1" title="">{% trans "Homepage" %}</a></li>
                <li><a href="/map" accesskey="2" title="">{% trans "Map" %}</a></li>
                <li class="current_page_item"><a href="/about" accesskey="3" title="">{% trans "About" %}</a></li>
                <li><a href="/mapbook" accesskey="4" title="Mapbook">{% trans "Mapbook" %}</a></li>
                <li><a href="/weblog" accesskey="6" title="Blog">{% trans "Blog" %}</a></li>
                <li><a href="/contact" accesskey="5" title="Contact Us">{% trans "Contact Us" %}</a></li>

        <li>
        {% get_available_languages as languages %}
        {% get_current_language as LANGUAGE_CODE %}
        {% for lang_code, lang_name in languages %}
          {% if lang_code != LANGUAGE_CODE %}
            <form action="{% url 'set_language' %}" method="post">
                {% csrf_token %}
                <input name="next" type="hidden" value="{{ redirect_to }}" />
                <input name="language" type="hidden" value="{{ lang_code }}" />
                <button type="submit">{{ lang_name }}</button>
            </form>
          {% endif %}
        {% endfor %}
        </li>
            </ul>
        </div>
    </div>
    </div>
</div>


<div id="page">
    <div class="container">

         <iframe width="100%" height="450" frameborder="0" class="iframe-right" src="https://berkeley-dlab.cartodb.com/u/calo1/viz/d784298c-7e60-11e5-9a26-0e674067d321/embed_map" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen ></iframe>


        <h1> {% trans "The Farmland Monitoring Project" %}</h1>

        <p style = "font-size:1.5em" >
        <em>"{% trans '"Farmers should be able to own the land they farm, or at least have reliable access to it”' %}"</em>
        <br>

        {% trans "- Organic farmer near Hollister, CA" %}</p>

        <img src="../static/about_images/Cannery_Berries-2.jpg" width = 20% class="image-left">
        <p style = "text-align: left">{% trans 'Alternative food system advocates often argue that a' %} "{% trans "next generation of farmers" %}" {% trans 'is needed to reverse the trend of an aging farmer population and re-orient the structure of agriculture from consolidated mega-farms to a revitalized rural landscape.  If creating new farmers is a regional or even national goal, it follows that land use policy should facilitate the establishment of startup farm operations.  However, for small scale and beginning farmers, access to quality and affordable farmland remains a major barrier to success.' %}</p>



        <p style = "text-align: left">{% trans "Nationally, 40% of all farmland is rented out and 80% of those 353 million acres is managed by a non-farming landlord.  In the three counties of Santa Cruz, Monterey, and San Benito which roughly comprise the agricultural region of the California Central Coast farming on renting land is common.  Almost half of all farmland is rented out to tenant farmers, who lease farmland and operate on tight margins.  Agricultural land is often valued by its potential large scale production value" %} <em>{% trans "as well as" %}</em> {% trans "potential residential value as wealthy buyers seek out" %} “{% trans "ranchettes" %}” {% trans "in rural areas near to urban areas.  Furthermore, the history of property arrangements in California has created a dominant trend of large plots of agricultural land in which owners are less willing to break up into smaller rental lots.  Beyond these structural barriers, competition for farmland is fierce." %}</p>

        <img src="../static/about_images/berries-2.jpg" width = 30% class="image-right">

        <p style = "text-align: left">{% trans "Agribusiness companies, real estate agents, and increasingly institutional investment firms dedicate staff and resources for land identification and acquisition.  One tool these actors use to seek out properties are commercial services that aggregate public data on land ownership, land quality, and other agricultural data.  Farmview is participatory farmland monitoring project that combines the local knowledge of small scale farmers and public data to help explore the status of land access in the California Central Coast." %}
        <br>
        <br>
        </p>
        <p style = "text-align: left"> {% trans "A wealth of information about land ownership and land access is available on the " %} <a href="https://www.farmview.herokuapp.com/mapbook" target="_blank">'{% trans "mapbook" %}'</a>  {% trans "page.  These maps tell stories about farming in the central coast.  The datasets provided are also easy to download or reference for future use.  The goals of the project and the tools provided are to:" %}

        </p>
        <br>


        <ol>
            <li style = "font-size:1.5em"> {% trans "1. Help facilitate land linking by aggregating listings of potential farmland" %}</li>
            <li style = "font-size:1.5em"> {% trans "2. Visualize the problems of land access for a variety of regional actors and policy argumentation" %}</li>
        </ol>

    </div>
</div>

<div id="featured">
    <div class="container">

    <h2>{% trans "How It Works" %}</h2>
        <br>
       <div id="two-column">
        <div class="tbox1">
            <div class="box" style="padding: 0em 0em 0em 0em">
               <h3>{% trans "Public data" %}</h3>
                <!-- <img src="publicdataimage"/> -->
                <p>{% trans "The question of who owns the land is public information, accessed through the county assessor.  We combine this to create a picture of the agricultural parcels in the region and some relevant agricultural attributes like zoning, soil classification, and ownership details.  We also aggregate other public land listings, like data from ag listservs and real estate agencies.  All these data are available on the " %}<a href="https://www.farmview.herokuapp.com/map" target="_blank">'{% trans "map" %}'</a> {% trans "page for exploration and searching.  Detailed information about land parcels and existing or available land can be viewed " %}</p>
            </div>
        </div>
        <div class="tbox2">
            <div class="box" style="padding: 0em 0em 0em 0em">
            <h3>{% trans "Local knowledge" %}</h3>
            <!-- <img class= "image-left" height="60%" width="400" src="Cannery_Berries.jpg"/> -->
            <p>{% trans "We solicit information from all members of the agricultural community in the region.  A landowner, farmer, or other actor in the food system can submit data about farmland.  They can describe a land listing, a vacant parcel, or an existing operation.  The data collection tool can be done from a mobile device or a desktop computer, on or off-line." %}
            <br>
            {% trans "Anyone with the link to the survey can collect data.  Please feel free to share the link to the " %}<a href="https://qlm81.enketo.org/webform" target="_blank">{% trans "survey" %}</a> {% trans "and bookmark the link for repeat observations.  Please note that if you share information about your farm to this application it will be available to view by others." %}
            </div>
        </div>
    </div>
    </div>

    <div class="container">
        <ul class="actions">
            <li><a href="https://qlm81.enketo.org/webform" class="button" target="_blank">{% trans "Go to Survey" %}</a></li>
        </ul>
    </div>
</div>

<div id="page">
    <div class="container">

<h2>{% trans "Resources on land access" %}</h2>

        <p style>{% trans "Overcoming barriers to farmland access is much greater than finding suitable land. Beginning farmers must be able to create ag friendly lease arrangements, acquire start-up loans, secure markets, overcome language barriers, and negotiate with landowners who often do not have any agriculture experience.  This requires a collaborative effort, and ultimately regional policies that support and incentivize the creation of successful start-up farms. Here are some regional resources that work with farmland access issues." %}</p>

        <h2>{% trans "Farmlink" %}</h2>

        <p>{% trans "California Farmlink is a local non-profit CDFI (Community Development Financial Institution) linking small to mid-size farmers statewide to the land and financing they need for a sustainable future. FarmLink is the only organization of its kind dedicated to the economic development support for beginning, limited resource, immigrant, and underserved farmers in California" %}</p>

        <p><a href="https://www.farmlink.com" target="_blank">{% trans "California Farmlink website" %}</a></p>

        <p><a href="https://berkeley.box.com/agleasetemplate" target="_blank">{% trans "Farmlink's template for an agricultural lease" %}</a></p>

</div>
</div>

<div class="extra">
    <div class="container" style="text-align: center">

        <h2>{% trans "Support" %}</h2>

        <p style="text-align: center">{% trans "The Farmland Monitoring Project is a transdisciplinary research initiative of UC Berkeley.  Generous support comes from the Berkeley Food Institute, the Center for Information Technology Research in the Interest of Society, UC Cooperative Extension, and CartoDB.  Oversight, feedback, and expertise come from the farmers and staff of the Agriculture and Land Based Training Association, and California Farmlink.  " %}</p>

        <a href="http://food.berkeley.edu/" target="_blank"> <img class="image-sponsor" src="http://i.imgur.com/DFOJg6q.jpg"></a>
        <a href="http://citris-uc.org/" target="_blank"> <img class="image-sponsor" src="http://i.imgur.com/sfrMLk6.png"></a>
        <a href="http://ucanr.edu/" target="_blank"> <img class="image-sponsor" src="http://i.imgur.com/0qgKMrt.png"></a>
        <a href="https://cartodb.com/" target="_blank"> <img class="image-sponsor" src="http://i.imgur.com/NqSec4u.png"></a>
        <a href="http://www.albafarmers.org/index.html" target="_blank"> <img class="image-sponsor" src="http://i.imgur.com/eeUloqc.png"></a>
        <a href="http://www.californiafarmlink.org/" target="_blank"> <img class="image-sponsor" src="http://i.imgur.com/8Rfo3AP.png"></a>

</div>
</div>

<div id="copyright">
    <div class="container">
        <p>&copy; {% trans "Farmview. All rights reserved. | Design by " %}<a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</p>
    </div>
</div>
</body>
</html>

{% endblock %}
