{% load staticfiles %}

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <meta name='description' content='' />
    <meta name='author' content='Seongtaek Lim' />
    <!-- <link rel='shortcut icon' href='assets/ico/favicon.ico'> -->

    <title>Farmview</title>

    <!-- Bootstrap core CSS -->
    <link rel='stylesheet' href='{% static "pages/css/bootstrap.min.css" %}' />
    <!-- Custom styles for this template -->
    <link rel='stylesheet' href='{% static "pages/css/style.css" %}' />
    <link rel='stylesheet' href='/static/lightbox2/dist/css/lightbox.css'>
    
    <!-- Scripts -->
    <script src='{% static "pages/js/jquery/jquery-1.11.3.min.js" %}'></script>
    <script src='{% static "pages/js/bootstrap/bootstrap.min.js" %}'></script>
    <script src='/static/lightbox2/dist/js/lightbox-plus-jquery.js'></script>
  </head>

  <body>


    <!-- <div class='container-fluid'> -->

      {% block content %}{% endblock %}

    <!-- </div>/container -->

  </body>
</html>
