<!DOCTYPE html>
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <meta name='description' content='' />
    <meta name='author' content='Seongtaek Lim' />
    <!-- <link rel='shortcut icon' href='assets/ico/favicon.ico'> -->
    <title>Farmview</title>
    <!-- Bootstrap core CSS -->
    <link rel='stylesheet' href='/static/css/bootstrap/bootstrap.min.css' />
    <!-- Custom styles for this template -->
    <link rel='stylesheet' href='/static/css/style.css' />
    <!-- Scripts -->
    <script src='/static/js/jquery/jquery-1.11.3.min.js'></script>
    <script src='/static/js/bootstrap/bootstrap.min.js'></script>
  </head>
  <body>
    <!-- <div class='container-fluid'> -->
    <div class='container-fluid'>
      <div class="wrapper">
        <div class="header-wrapper">
          <div class="header" class="container">
            <div class="logo">
              <h1><a href="#">{% trans "Farmview" %}</a></h1>
            </div>
            <div class="menu">
              <ul>
                <li><a href="/" accesskey="1" title="">{% trans "Homepage" %}</a></li>
                <li class="current_page_item"><a href="/map" accesskey="2" title="">{% trans "Map" %}</a></li>
                <li><a href="/about" accesskey="3" title="About">{% trans "About" %}</a></li>
                <li><a href="/mapbook" accesskey="4" title="Mapbook">{% trans "Mapbook" %}</a></li>
                <li><a href="/weblog" accesskey="6" title="Blog">{% trans "Blog" %}</a></li>
                <li><a href="/contact" accesskey="5" title="Contact Us">{% trans "Contact Us" %}</a></li>
                <li>
                  {% get_available_languages as languages %}
                  {% get_current_language as LANGUAGE_CODE %}
                  {% for lang_code, lang_name in languages %}
                    {% if lang_code != LANGUAGE_CODE %}
                      <form action="{% url 'set_language' %}" method="post">
                        {% csrf_token %}
                        <input name="next" type="hidden" value="{{ redirect_to }}" />
                        <input name="language" type="hidden" value="{{ lang_code }}" />
                        {% if lang_code == "en" %}
                          <button type="submit"> English </button>
                        {% else %}
                          <button type="submit">Espa&#241;ol</button>
                        {% endif %}
                      </form>
                    {% endif %}
                  {% endfor %}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
