{% extends "pages/base.html" %}

{% block content %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : PlainDisplay 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20140309

-->

<link href="http://fonts.googleapis.com/css?family=Varela" rel="stylesheet" />

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
<div id="wrapper">
    <div id="header-wrapper">
    <div id="header" class="container">
        <div id="logo">
            <h1><a href="#">Farmview</a></h1>
        </div>
        <div id="menu">
            <ul>
                <li><a href="/" accesskey="1" title="">Homepage</a></li>
                <li><a href="/map" accesskey="2" title="">Map</a></li>
                <li><a href="/about" accesskey="3" title="">About</a></li>
                <li><a href="/mapbook" accesskey="4" title="">Mapbook</a></li>
                <li class="current_page_item"><a href="#" accesskey="5" title="">Contact Us</a></li>
            </ul>
        </div>
    </div>
    </div>
    <div>
        <p></p>
        <p style = "text-align: center"> <strong>What data would you like to see represented? Any errors that we can correct?  Have other ideas?  </strong> </p>
    </div>
    <div id="banner">
        <!-- <div class="container"> -->
        <div class="title"><h1>Contact Us</h1></div>
        <div id="form-main">
          <div id="form-div">
            <form class="form" id="form1">
              
              <p class="name">
                <input name="name" type="text" class="validate[required,custom[onlyLetter],length[0,100]] feedback-input" placeholder="Name" id="name" />
              </p>
              
              <p class="email">
                <input name="email" type="text" class="validate[required,custom[email]] feedback-input" id="email" placeholder="Email" />
              </p>
              
              <p class="text">
                <textarea name="text" class="validate[required,length[6,300]] feedback-input" id="comment" placeholder="Comment"></textarea>
              </p>
              
              
             <ul class="actions">
                <li><a href="mailto:farmlandmonitoring@gmail.com"class="button">Submit</a></li>
            </ul>

            </form>
          </div>
     </div>
            

    <!-- <form action="" class="tsc_form_contact_light">
        <label for="name">Name <span>(required)</span></label>
        <input type="text" name="name" class="form-input" required />
        <label for="email">Email <span>(required)</span></label>
        <input type="email" name="email" class="form-input" required />
        <label for="subject">Subject <span>(optional)</span></label>
        <input type="text" name="subject" class="form-input" />
        <label for="message">Message <span>(required)</span></label>
        <textarea name="message" class="form-input" required></textarea>
        <input class="form-btn" type="submit" value="Send Message" />
      </form>    -->    


    <!-- </div> -->


    </div> 
</div>
<div id="copyright">
    <div class="container">
        <p>&copy; Untitled. All rights reserved. | Photos by <a href="http://fotogrph.com/">Fotogrph</a> | Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</p>
    </div>
</div>
</body>
</html>

{% endblock %}
