{% extends "pages/base.html" %}
{% load i18n %}


{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}


{% block content %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : PlainDisplay
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20140309

-->

<link href="http://fonts.googleapis.com/css?family=Varela" rel="stylesheet" />

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
<div id="wrapper">
    <div id="header-wrapper">
    <div id="header" class="container">
        <div id="logo">
            <h1><a href="#">{% trans "Farmview" %}</a></h1>
        </div>
        <div id="menu">
            <ul>
                <li><a href="/" accesskey="1" title="">{% trans "Homepage" %}</a></li>
                <li><a href="/map" accesskey="2" title="">{% trans "Map" %}</a></li>
                <li><a href="/about" accesskey="3" title="">{% trans "About" %}</a></li>
                <li><a href="/mapbook" accesskey="4" title="">{% trans "Mapbook" %}</a></li>
                <li><a href="/weblog" accesskey="6" title="Blog">{% trans "Blog" %}</a></li>
                <li class="current_page_item"><a href="#" accesskey="5" title="">{% trans "Contact Us" %}</a></li>

        <li>
        {% get_available_languages as languages %}
        {% get_current_language as LANGUAGE_CODE %}
        {% for lang_code, lang_name in languages %}
          {% if lang_code != LANGUAGE_CODE %}
            <form action="{% url 'set_language' %}" method="post">
                {% csrf_token %}
                <input name="next" type="hidden" value="{{ redirect_to }}" />
                <input name="language" type="hidden" value="{{ lang_code }}" />
                <button type="submit">{{ lang_name }}</button>
            </form>
          {% endif %}
        {% endfor %}
        </li>
            </ul>
        </div>
    </div>
    </div>
    <!-- <div>
        <p></p>
        <p style = "text-align: center"> <strong>What data would you like to see represented? Any errors that we can correct?  Have other ideas?  </strong> </p>
    </div> -->


    <div id="page">
        <div class="container">
        <div class="title"><h1>{% trans "Contact Us" %}</h1></div>
         <p style = "text-align: center">{% trans "What data would you like to see represented? Any errors that we can correct?  Have other ideas? " %}</p>
        <div id="form-main extra" class="container">
          <div id="form-div">
            <form class="form" id="form1" method="post" action="http://formspree.io/farmlandmonitoring@gmail.com">

              <p class="name">
                <input name="name" type="text" class="validate[required,custom[onlyLetter],length[0,100]] feedback-input" placeholder={% trans "Name" %} id="name" />
              </p>

              <p class="email">
                <input name="email" type="text" class="validate[required,custom[email]] feedback-input" id="email" placeholder={% trans "Email" %} />
              </p>

              <p class="text">
                <textarea name="text" class="validate[required,length[6,300]] feedback-input" id="comment" placeholder={% trans "Comment" %}></textarea>
              </p>


             <ul class="actions">
                <li>
                  <!-- <class="button">Submit</a> -->

                  <input type="submit" value={% trans "Send Message" %} class="button" style="border:0px"/>
                    <input type="hidden" name="_next" value="#contact" /> <!-- value = "contact page link (to refresh)" -->
                  </li>
            </ul>

            </form>
          </div>
     </div>

    </div>
    </div>
  <div class="extra">
  <div class="container">
    <h1>{% trans "Contributors" %}</h1>
    <div class = "profile">
        <img src="http://i.imgur.com/DQhQ0qf.jpg">
        <a href="https://ourenvironment.berkeley.edu/people/adam-calo"><h2>Adam Calo</h2></a>
        <p>{% trans "Graduate Student Researcher" %}</p>

    </div>
    <div class = "profile">
        <img src="http://i.imgur.com/lr7eKlO.jpg">
        <a href=""><h2>Songtaek Lim</h2></a>
        <p>{% trans "PhD Student, UC Berkeley School of Information" %}</p>
    </div>
    <div class = "profile">
        <img src="http://i.imgur.com/VfQIPgj.jpg">
        <h2>Bofan Chen</h2>
        <p>{% trans "3rd year Computer Science, " %}<br> UC Berkeley</p>
    </div>
    <div class = "profile">
        <img src="http://i.imgur.com/Du5ERvV.png">
        <a href="http://karingoh.me"><h2>Karin Goh</h2></a>
        <p>{% trans "3rd year Computer Science," %} <br> UC Berkeley</p>
    </div>
    <div class = "profile" style="margin-left:12%">
        <img src="https://scontent.fsnc1-1.fna.fbcdn.net/t31.0-8/12291101_10205195566397589_8854882318934001834_o.jpg">
        <h2>Kimberly Bourque</h2>
        <p>{% trans "3rd year Computer Science," %} <br> UC Berkeley</p>
    </div>
    <div class = "profile">
        <img src="https://scontent.fsnc1-1.fna.fbcdn.net/v/t1.0-9/425219_10201323601560870_1295658545_n.jpg?oh=a43b728de5d88a91f06071ccc37dd3f3&oe=582B05F1">
        <h2>Irene Sohyeon Lee</h2>
        <p>{% trans "Computer Science Major," %} <br> UC Berkeley</p>
    </div>
    <div class = "profile">
        <img src="http://i.imgur.com/6g6YYXV.png">
        <h2>Natalia Layson</h2>
        <p>{% trans "2nd year Computer Science and Engineering," %} <br> UC Berkeley</p>
    </div>
    </div>

  </div>
</div>

</div>
<div id="copyright">
    <div class="container">
       <p>&copy; {% trans "Farmview. All rights reserved. | Design by " %}<a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</p>
    </div>
</div>
</body>
</html>

{% endblock %}
