{% extends "pages/base.html" %}
{% load i18n %}
{% block home-current-page %} class = 'current_page_item'{% endblock %}
{% block base-content %}

<div class="wrapper">
  <div id="banner">
    <div class="container">
      <div class="title">
        <a href = "/map"> <img src="/static/img/map.png" style="width:100%;"> </a>
        <h2>{% trans "Farmview" %}</h2>
        <span class="byline">{% trans "Explore public data about farmland in the California Central Coast" %}</span>
      </div>
      <ul class="actions">
        <li><a href="/map" class="button">{% trans "Go to Map" %}</a></li>
      </ul>
    </div>
  </div>
  <div class="extra">
    <div class="container">
      <div class="title">
        <span class="byline" style="font-size:1.2em; text-align:center">
          <p>
            <a href="http://farmview.herokuapp.com/map/">{% trans "View" %}</a> {% trans "public records about land ownership, soil data, farms currently for lease, and existing ranches.  " %}
            <br>
            <a href="https://enketo.ona.io/x/#YpVH" target="_blank">{% trans "Submit" %}</a>{% trans " information about an existing farm operation, land listing, or land that has potential agricultural value." %}
            <br>
            <a href="/mapbook">{% trans "Explore" %}</a>{% trans " maps and " %}<a href="https://farmview.cartodb.com/">{% trans "download" %}</a>{% trans " datasets concerning farmland access in the California central coast." %}"
          </p>
        </span>
      </div>
    </div>
    <div class="container">
      <div id="three-column">
        <div class="boxA">
          <div class="box">
            <center><img src="/static/img/survey.png" style="width:70%;" align="middle;"></center>
            <ul class="actions">
              <li><a href="https://enketo.ona.io/x/#YpVH" class="button" target="_blank">{% trans "Go to Survey" %}</a></li>
            </ul>
          </div>
        </div>
        <div class="boxB">
          <div class="box">
            <center><img src="/static/img/learnmore.png" style="width:70%;"></center>
            <ul class="actions"><li><a href="/about" class="button">{% trans "Learn More" %}</a></li></ul>
          </div>
        </div>
        <div class="boxC">
          <div class="box">
            <center><img src="/static/img/contact.png" style="width:70%;"></center>
            <ul class="actions"><li><a href="/contact" class="button">{% trans "Contact Us" %}</a></li></ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="container">
      <p>&copy; {% trans "Farmview. All rights reserved. | Design by " %}<a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</p>
    </div>
  </div>
</div>
{% endblock base-content %}
