{% extends "pages/base.html" %}

{% block content %}

  <div class='row'>
    <div class='page-header col-sm-12 col-md-8 col-md-offset-2'>
      <div class='jumbotron'>
        <h1>Farmview</h1>
        <p class='lead'>Explore public data about farmland in the California Central Coast</p>
        <p><a href='/map' class='btn btn-primary btn-lg'>Go to map</a></p>
      </div>
    </div>
  </div>

  <br />

  <div class='row'>
    <div class='col-md-12'>
      <div class='row'>
        {% for notice in notices %}
          <div class='col-sm-12 col-md-4'>
            <div class='panel {{ notice.notice_type }}'>
              <div class='panel-heading'>{{ notice.title }}</div>
              <div class='panel-body'>
                {{ notice.content|safe }}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

{% endblock %}
