{% extends "pages/base.html" %}

{% block content %}

  <div id="banner">
    <div class="container">

      <div class="title">
        <img src="static/homepage_images/map.png" alt="some_text" style="width:100%;">
        <h2>Farmview</h2>
        <span class="byline">Explore public data about farmland in the California Central Coast</span> 
      </div>
        
      <ul class="actions">
        <li><a href="map.html" class="button">Go to Map</a></li>
      </ul>
    </div>
  </div>

  <br />

  <div class='row'>
    <div class='col-md-12'>
      <div class='row'>
        {% for notice in notices %}
          <div class='col-sm-12 col-md-4'>
            <div class='panel {{ notice.notice_type }}'>
              <div class='panel-heading'>{{ notice.title }}</div>
              <div class='panel-body'>
                {{ notice.content|safe }}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

{% endblock %}
