{% load staticfiles %}

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <meta name='description' content='' />
    <meta name='author' content='Seongtaek Lim' />
    <!-- <link rel='shortcut icon' href='assets/ico/favicon.ico'> -->

    <title>Farmview</title>

    <!-- Bootstrap core CSS -->
    <link rel='stylesheet' href='{% static "index/css/bootstrap.min.css" %}' />
    <!-- Third-party CSS -->
    <link rel='stylesheet' href='//libs.cartocdn.com/cartodb.js/v3/3.15/themes/css/cartodb.css' />
    <!-- Custom styles for this template -->
    <link rel='stylesheet' href='{% static "index/css/style.css" %}' />
    
    <!-- Scripts -->
    <script src='{% static "index/js/jquery/jquery-1.11.3.min.js" %}'></script>
    <script src='{% static "index/js/bootstrap/bootstrap.min.js" %}'></script>
    <script src='//libs.cartocdn.com/cartodb.js/v3/3.15/cartodb.js'></script>
  </head>

  <body>

    <nav class='navbar navbar-inverse'>
      <div class='container-fluid'>
        <div class='navbar-header'>
          <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#bs-example-navbar-collapse-2'>
            <span class='sr-only'>Toggle navigation</span>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
          </button>
          <a class='navbar-brand' href='/'>Farmview</a>
        </div>

        <div class='collapse navbar-collapse' id='bs-example-navbar-collapse-2'>
          <ul class='nav navbar-nav'>
            <li><a href='/'>Home</a></li>
            <li><a href='map'>Map</a></li>
          </ul>
          <ul class='nav navbar-nav navbar-right'>
            <li><a href='admin'>Admin</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class='container-fluid'>

      {% block index %}{% endblock %}

    </div><!-- /container -->

  </body>
</html>
