<div class='cartodb-popup v2 collapse custom-infowindow'>
  <a href='#close' class='cartodb-popup-close-button close'>x</a>
  <div class='cartodb-popup-content-wrapper'>
    <div class='cartodb-popup-header'>
      <!-- <img style='width: 100%' src='https://cartodb.com/assets/logos/logos_full_cartodb_light.png'></src> -->
    </div>
    <div class='cartodb-popup-content'>
      <h4>Label:</h4>
      <p>Value</p>
    </div>
  </div>

  <hr class='info-window-hr' />
  <p class='info-window-custom-paragraph'>
    <!-- <button data-id='{{apn}}' data-source='central_coast_joined' data-id-field='apn' href='#' class='link-to-detail btn btn-primary btn-sm btn-block'>View details on this parcel</button> -->
    &nbsp;
  </p>
  <p class='info-window-custom-paragraph'>
    <a class='link-to-detail btn btn-link btn-sm' target='_blank' href='https://qlm81.enketo.org/webform'>Enter data on this parcel</a>
  </p>

  <div class='cartodb-popup-tip-container'></div>
  <script>
    (function() {

      //
      // Globals
      //
      var resetInfowindow = function() {
        $('.custom-infowindow .cartodb-popup-content').html('');
      }

      var closeInfowindow = function() {
        resetInfowindow();
        $('.cartodb-popup').hide();
      }

      $('.cartodb-popup-close-button.close').click(function (e) {
        closeInfowindow();
      });

    })();
  </script>
</div>
