<div id='detail-page' class='modal'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>×</button>
        <h4 class='modal-title'>Details on the Parcel</h4>
      </div>
      <div class='modal-body'>

        {% for data_source in data_sources %}
          <div class='data-from-{{data_source}} wrapper-per-source collapse'>
          {% for datafield in datafields %}
            {% if datafield.use_for_detail_popup and data_source in datafield.data_sources %}
              <div class='form-group'>
                <label for='{{datafield.name}}-field' class='control-label data-label'>{{datafield.label_eng}}</label><br />
                <div id='{{datafield.name}}-field' class='data-field' data-choices='{{datafield.choices}}'>
                  N/A
                </div>
              </div>
            {% endif %}
          {% endfor %}
          </div>
        {% endfor %}

        <!-- TODO: input more data -->
        <!-- https://docs.google.com/document/d/1bK6pKhQRQbSd9EzEprI12aMkCbYrvqmiwgYHuaNMz38/edit -->


<!-- 
        <div class='data-from-central_coast_joined wrapper-per-source collapse'>
          <div class='form-group'>
            <label for='apn-field' class='control-label data-label'>Assessor Parcel Number</label><br />
            <div id='apn-field' class='data-field'>
              N/A
            </div>
          </div>
          <div class='form-group'>
            <label for='acres-field' class='control-label data-label'>Acres</label><br />
            <div id='acres-field' class='data-field'>
              N/A
            </div>
          </div>
          <div class='form-group'>
            <label for='site_full-field' class='control-label data-label'>Full Site address</label><br />
            <div id='site_full-field' class='data-field'>
              N/A
            </div>
          </div>
          <div class='form-group'>
            <label for='county-field' class='control-label data-label'>County</label><br />
            <div id='county-field' class='data-field'>
              N/A
            </div>
          </div>
          <div class='form-group'>
            <label for='soil_type-field' class='control-label data-label'>Dominant Soil type</label><br />
            <div id='soil_type-field' class='data-field'>
              N/A
            </div>
          </div>
          <div class='form-group'>
            <label for='zone_type-field' class='control-label data-label'>Dominant Zoning Type</label><br />
            <div id='zone_type-field' class='data-field'>
              N/A
            </div>
          </div>
        </div>



        <div class='data-from-data_point wrapper-per-source collapse'>
          <div class='form-group'>
            <label for='survey_ranch_address_ranch_name-field' class='control-label data-label'>Ranch Name</label><br />
            <div id='survey_ranch_address_ranch_name-field' class='data-field'>
              N/A
            </div>
          </div>
          <div class='form-group'>
            <label for='survey_ranch_details_lease_rate_current-field' class='control-label data-label'>Current Lease Rate</label><br />
            <div id='survey_ranch_details_lease_rate_current-field' class='data-field'>
              N/A
            </div>
          </div>
          <div class='form-group'>
            <label for='survey_land_availability-field' class='control-label data-label'>Land Availability</label><br />
            <div id='survey_land_availability-field' class='data-field'>
              N/A
            </div>
          </div>
          <div class='form-group'>
            <label for='survey_ranch_details_waterdetails_water_source-field' class='control-label data-label'>Water Source</label><br />
            <div id='survey_ranch_details_waterdetails_water_source-field' class='data-field'>
              N/A
            </div>
          </div>
          <div class='form-group'>
            <label for='survey_session_desc-field' class='control-label data-label'>Session Description</label><br />
            <div id='survey_session_desc-field' class='data-field'>
              N/A
            </div>
          </div>
          <div class='form-group'>
            <label for='survey_farmer_details_yearsfarming-field' class='control-label data-label'>Years of Farming</label><br />
            <div id='survey_farmer_details_yearsfarming-field' class='data-field'>
              N/A
            </div>
          </div>
        </div>
 -->


      </div>
      <div class='modal-footer'>
        <button type='button' class='btn btn-primary' data-dismiss='modal'>Close</button>
      </div>
    </div>
  </div>
</div>
