<div class='modal detail-popup'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>×</button>
        <h4 class='modal-title'>Details on the Parcel</h4>
        <button id="cartodb_id" type="button" value="Generate PDF" onclick="generatePDF();">Download PDF </button>
      </div>
      <div class='modal-body'>
      
        {% for data_source in data_sources %}
          <div class='data-from-{{data_source}} wrapper-per-source collapse'>
            <div class='thumbnail-area'></div>

            {% for datafield in datafields %}
              {% if datafield.use_for_detail_popup and data_source in datafield.data_sources %}
                <div class='form-group'>
                  <label for='{{datafield.name}}-field' class='control-label data-label'>{{datafield.label_eng}}</label><br />
                  <div id='{{datafield.name}}-field' class='data-field' data-choices='{{datafield.choices_str}}' data-type='{{datafield.type}}'>
                    N/A
                  </div>
                </div>
              {% endif %}
            {% endfor %}

          </div>
        {% endfor %}

      </div>
      <div class='modal-footer'>
        <button type='button' class='btn btn-primary close-btn' data-dismiss='modal'>Close</button>
      </div>
    </div>
  </div>

  <script>

    //
    // Globals
    //
    var NO_DATA_PLACEHOLDER = 'N/A';

    var generatePDF = function() {
      // console.log(document.getElementById('cartodb_id').value);
      var http = new XMLHttpRequest();
      var report_request_url = "report/" + document.getElementById('cartodb_id').value.toString();

      // http.open("GET", "http://localhost:8888/map/report/0", true);
      // http.send();
      window.open(report_request_url)
    }

    var resetDetailPopup = function() {
      $('.data-field').html(NO_DATA_PLACEHOLDER);
      $('div.thumbnail-area').html('');
      $('.detail-popup .wrapper-per-source').hide(); // COLLAPSE ALL
      // console.log('called reset');
    };

    $('.detail-popup .close-btn, .detail-popup button.close').click(function(e) {
      resetDetailPopup();
    });

    function getHumanReadableValue(val, choices) {
      let values = val.split(' ');
      let res = [];

      for (let j in values) {
        let value = values[j];

        for (let i in choices) {
          let choice = choices[i];

          if (choice.val == value) {
            res.push(choice.label_eng);
          }
        }
      }

      return res.join(', ');
    }

    function getHumanReadableValueOrNull(label, value, popupForDataSource) {
      let targetFieldSelector = '#' + label + '-field.data-field';
      let field = $(targetFieldSelector);
        
      // isRelevantField is set to true only if the selected section has the field (and only one of it)      
      let isRelevantField = popupForDataSource.has(targetFieldSelector).length == 1;
      if (isRelevantField && value) {
        if ($.inArray(field.data('type'), ['select_one', 'select_multiple']) >= 0) {
          let choices = $(targetFieldSelector).data('choices');
          let label = getHumanReadableValue(value, choices);
          if (label.trim() != '') {
            return label;
          }
        }
      }
      return null;
    }

    var renderDetailPopup = function(record, table) {

      // Get the relevant section selector for the table
      let detailPopupForDataSource = $('.detail-popup .wrapper-per-source.data-from-' + table);

      for (let key in record) {
        let targetFieldSelector = '#' + key + '-field.data-field';
        let field = $(targetFieldSelector);
        let value = record[key];
        let humanReadableValue = getHumanReadableValueOrNull(key, value, detailPopupForDataSource);
        
        if (humanReadableValue == null) {
          field.html(value);
  
        }
          else if (humanReadableValue.trim() == '') {
          field.html(value);
          console.warn(key, value, 'has wrong definition (e.g., unexpected value, wrong number of vals and labels, etc.)!');
        } else {
            document.getElementById("cartodb_id").value = record['cartodb_id'];
          
          field.html(humanReadableValue);
        }
      }

      // Show the image attachment if available
      if ('_attachments' in record) {
        console.log(record); 
        let attachments = record['_attachments'];

        for (let i in attachments) {
          let attachment = JSON.parse(attachments[i]);
          if (attachment.mimetype && attachment.mimetype.startsWith('image/')) {
            let thumbmailUrl = 'https://ona.io' + attachment['small_download_url'];
            let originalImgUrl = 'https://ona.io' + attachment['download_url'];
            let thumbnailArea = $(detailPopupForDataSource.find('div.thumbnail-area')[0]);
            thumbnailArea.html('<a href="' + originalImgUrl + '" target="_blank"><img title="Click for original size" src="' + thumbmailUrl + '"/></a>');
          }
        }
      }

      // Display the relevant section
      detailPopupForDataSource.show();
    }

  </script>

</div>
