<div id='detail-page' class='modal'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>×</button>
        <h4 class='modal-title'>Details on the Parcel</h4>
      </div>
      <div class='modal-body'>
        <div class='form-group'>
          <label for='apn-field' class='control-label data-label'>Assessor Parcel Number</label><br />
          <div id='apn-field' class='data-field'>
            N/A
          </div>
        </div>
        <div class='form-group'>
          <label for='acres-field' class='control-label data-label'>Acres</label><br />
          <div id='acres-field' class='data-field'>
            N/A
          </div>
        </div>
        <div class='form-group'>
          <label for='site_full-field' class='control-label data-label'>Full Site address</label><br />
          <div id='site_full-field' class='data-field'>
            N/A
          </div>
        </div>
        <div class='form-group'>
          <label for='county-field' class='control-label data-label'>County</label><br />
          <div id='county-field' class='data-field'>
            N/A
          </div>
        </div>
        <div class='form-group'>
          <label for='soil_type-field' class='control-label data-label'>Dominant Soil type</label><br />
          <div id='soil_type-field' class='data-field'>
            N/A
          </div>
        </div>
        <div class='form-group'>
          <label for='zone_type-field' class='control-label data-label'>Dominant Zoning Type</label><br />
          <div id='zone_type-field' class='data-field'>
            N/A
          </div>
        </div>
      </div>
      <div class='modal-footer'>
        <button type='button' class='btn btn-primary' data-dismiss='modal'>Close</button>
      </div>
    </div>
  </div>
</div>
