<div class='modal detail-popup'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>×</button>
        <h4 class='modal-title'>Details on the Parcel</h4>
      </div>
      <div class='modal-body'>
      
        {% for data_source in data_sources %}
          <div class='data-from-{{data_source}} wrapper-per-source collapse'>
            
            <div class='thumbnail-area'></div>

            {% for datafield in datafields %}
              {% if datafield.use_for_detail_popup and data_source in datafield.data_sources %}
                <div class='form-group'>
                  <label for='{{datafield.name}}-field' class='control-label data-label'>{{datafield.label_eng}}</label><br />
                  <div id='{{datafield.name}}-field' class='data-field' data-choices='{{datafield.choices_str}}' data-type='{{datafield.type}}'>
                    N/A
                  </div>
                </div>
              {% endif %}
            {% endfor %}

          </div>
        {% endfor %}

      </div>
      <div class='modal-footer'>
        <button type='button' class='btn btn-primary close-btn' data-dismiss='modal'>Close</button>
      </div>
    </div>
  </div>


  <script>

    //
    // Globals
    //
    var NO_DATA_PLACEHOLDER = 'N/A';

    var resetDetailPopup = function() {
      $('.data-field').html(NO_DATA_PLACEHOLDER);
      $('div.thumbnail-area').html('');
      $('#detail-page .wrapper-per-source').hide(); // COLLAPSE ALL
      // console.log('called reset');
    };

    $('.detail-popup .close-btn, .detail-popup button.close').click(function(e) {
      resetDetailPopup();
    });

    function getLabelWithVal(val, choices) {
      let values = val.split(' ');
      let res = [];

      for (let j in values) {
        let value = values[j];

        for (let i in choices) {
          let choice = choices[i];

          if (choice.val == value) {
            res.push(choice.label_eng);
          }
        }
      }

      return res.join(', ');
    }

    function renderDetailPopup(record, table) {

      // var record = result.rows[0];
      let per_data_source = $('.detail-popup .wrapper-per-source.data-from-' + table); // div FOR THE RELEVANT TABLE

      for (let key in record) {
        let target_field_selector = '#' + key + '-field.data-field';
        let field = $(target_field_selector);
        // is_relevant_field IS SET TO TRUE IF THE div WRAPPER HAS THE FIELD
        let is_relevant_field = per_data_source.has(target_field_selector).length == 1;

        if (is_relevant_field && record[key]) {
          if ($.inArray(field.data('type'), ['select_one', 'select_multiple']) >= 0) {
            // REPLACE RAW VALUE WITH HUMAN-READABLE LABEL
            let choices = $(target_field_selector).data('choices');
            let label = getLabelWithVal(record[key], choices);
            if (label.trim() == '') {
              field.html(record[key]);
              // console.warn(key, record[key], 'has wrong definition (e.g., unexpected value, wrong number of vals and labels, etc.)!');
            }
            else field.html(label);
          }
          else {
            field.html(record[key]);
          }
        }
      }

      // SHOW PARCEL IMAGE IF APPLICABLE
      if ('_attachments' in record) {
        let attachments = JSON.parse(record['_attachments']);
        // console.log(attachments);

        for (let i in attachments) {
          let attachment = attachments[i];
          // console.log(attachment);
          if (attachment.mimetype.startsWith('image/')) {
            let thumbmail_url = 'https://ona.io' + attachment['small_download_url'];
            let original_img_url = 'https://ona.io' + attachment['download_url'];
            
            let thumbnail_area = $(per_data_source.find('div.thumbnail-area')[0]);
            let original_img_area = $('#img-per_data_source-layer');

            thumbnail_area.html('<a href="' + original_img_url + '" target="_blank"><img title="Click for original size" src="' + thumbmail_url + '"/></a>');
          }
        }
      }

      // DISPLAY THE RELEVANT WRAPPER
      per_data_source.show();
    }

  </script>



</div>
