<script type='text/template' id='infowindow-custom-paragraph-template'>
  <p class='info-window-custom-paragraph'>
    <button href='#' class='link-to-detail btn btn-primary btn-sm btn-block'>View details on this parcel</button>
  </p>
  <p class='info-window-custom-paragraph'>
    <a class='btn btn-link btn-sm' target='_blank' href='https://qlm81.enketo.org/webform'>Enter data on this parcel</a>
    <!-- data-id='{{apn}}' data-source='central_coast_joined' data-id-field='apn'-->
  </p>
</script>
