<script type='text/template' id='layer-selector-template'>
  <div class='cartodb-layer-selector-box' style='display: block;'>
    <a href='#' class='layers change-visibility'>
      Visible layers
      <div class='count'>0</div>
    </a>
    <div class='cartodb-dropdown border vertical_bottom horizontal_right tick_right' style='width: 160px; top: 35px; left: -18px; display: none; opacity: 1;'>
      <ul class='layer-list'></ul>
      <div class='tail'>
        <span class='border'></span>
      </div>
    </div>
  </div>
</script>
