<script type='infowindow/html' id='parcel_infowindow'>
  <div class='cartodb-popup v2'>
    <a href='#close' class='cartodb-popup-close-button close'>x</a>
     <div class='cartodb-popup-content-wrapper'>
       <div class='cartodb-popup-header'>
         <img style='width: 100%' src='https://cartodb.com/assets/logos/logos_full_cartodb_light.png'></src>
       </div>
       <div class='cartodb-popup-content'>
         <!-- content.data contains the field info -->
         <h4>City: </h4>
         <!-- <p>{{content.data.name}}</p> -->
       </div>
     </div>
     <div class='cartodb-popup-tip-container'></div>
  </div>
</script>
