<div id='{{datafield.name}}-query' class='checkbox query-ui col-md-6'>
  <label>
    <input id='{{datafield.name}}-checkbox' type='checkbox' class='query-group' data-table='{{datafield.data_sources_str}}' data-query-type='{{datafield.type}}' data-field='{{datafield.name}}' />Within 
  </label>
  <br />
  <input id='{{datafield.name}}-distance-input' type='text' class='form-control operand-ui proximity-distance-text-input' placeholder='Maximum Distance' disabled /> miles of 
  <input id='{{datafield.name}}-location-input' type='text' class='form-control operand-ui proximity-location-text-input' placeholder='Location (for example, an address or a city)' disabled />
</div>