<div id='{{datafield.name}}-query' class='checkbox query-ui col-md-3'>
  <label>
    <input id='{{datafield.name}}-checkbox' type='checkbox' class='query-group' data-query-type='{{datafield.type}}' data-table='{{datafield.data_sources}}' data-field='{{datafield.name}}' />{{datafield.label_eng}}
  </label>
  <br />
  <input id='{{datafield.name}}-min-input' type='text' class='form-control operand-ui min-max-text-input' placeholder='Min' disabled />
  <input id='{{datafield.name}}-max-input' type='text' class='form-control operand-ui min-max-text-input' placeholder='Max' disabled />
</div>
