<div id='{{datafield.name}}-query' class='checkbox query-ui col-md-3'>
  <label>
    <input id='{{datafield.name}}-checkbox' type='checkbox' class='query-group' data-query-type='{{datafield.type}}' data-table='{{datafield.data_sources}}' data-field='{{datafield.name}}' />{{datafield.label_eng}}
  </label>
  <select id='{{datafield.name}}-input' class='form-control operand-ui' disabled>
    <option value=''>- Select One -</option>
    {% for choice in datafield.choices %}
      <option value='{{choice.val}}'>{{choice.label_eng}}</option>
    {% endfor %}
  </select>
</div>
