<div id='{{q.q_name}}-query' class='checkbox query-ui col-md-3'>
  <label>
    <input id='{{q.q_name}}-checkbox' type='checkbox' class='query-group' />{{q.q_name}}
  </label>
  <input id='{{q.q_name}}-input' type='text' class='form-control operand-ui col-md-2 output-only' placeholder='No values selected' disabled />
  <div id='{{q.q_name}}-popup' class='operand-ui modal'>
    <div class='modal-dialog'>
      <div class='modal-content'>
        <div class='modal-header'>
          <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>×</button>
          <h4 class='modal-title'>{{q.q_name}}</h4>
        </div>
        <div class='modal-body'>
          {% for choice in q.choices %}
            <label class='col-md-6'><input type='checkbox' value='' class='operand-ui'>{{choice.c_label_english}}</label>
            {% if forloop.counter|divisibleby:2 or forloop.last %}<br />{% endif %}
          {% endfor %}
        </div>
        <div class='modal-footer'>
          <button type='button' class='btn btn-default' data-dismiss='modal'>Cancel</button>
          <button type='button' class='btn btn-primary'>Apply Selection</button>
        </div>
      </div>
    </div>
  </div>
</div>
