{% load staticfiles %}

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <meta name='description' content='' />
    <meta name='author' content='Seongtaek Lim' />
    <!-- <link rel='shortcut icon' href='assets/ico/favicon.ico'> -->

    <title>Farmview</title>

    <!-- Bootstrap core CSS -->
    <link rel='stylesheet' href='{% static "map/css/bootstrap.min.css" %}' />
    <!-- Third-party CSS -->
    <link rel='stylesheet' href='{% static "map/css/cartodb/cartodb.css" %}' />
    <!-- Custom styles for this template -->
    <link rel='stylesheet' href='{% static "map/css/style.css" %}' />
    
    <!-- Scripts -->
    <script src='{% static "map/js/jquery/jquery-1.11.3.min.js" %}'></script>
    <script src='{% static "map/js/bootstrap/bootstrap.min.js" %}'></script>
    <script src='{% static "map/js/cartodb/cartodb.js" %}'></script>
  </head>

  <body>

    <div class='container-fluid'>

      {% block map %}{% endblock %}

    </div><!-- /container -->

  </body>
</html>
