{% extends "pages/base.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block map-current-page %} class = 'current_page_item'{% endblock %}
{% block base-content %}
{% include "map/partials/human_readable_data.html" with datafields=datafields %}
{% include "map/partials/layer_selector_template.html" %}
{% include "map/partials/layer_switch_template.html" %}
{% include "map/partials/infowindow_custom_paragraph.html" %}
{% include "map/partials/detail_popup.html" with datafields=datafields data_sources=data_sources %}
<script src='/static/js/cartodb/cartodb.js'></script>
<link rel='stylesheet' href='/static/css/cartodb/cartodb.css' />
<link rel='stylesheet' href='/static/css/react-virtualized-styles.css' />

<div id='react-mount' />
<script>
  window.react_mount = document.getElementById('react-mount');
</script>

<script>

var scrollToTop = function(durationMs) {
    $('html, body').animate({
      scrollTop: 0
    }, durationMs);
  };

</script>
<script src='/static/src/pages/map-page.js'></script> 

{% endblock base-content %}
